* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* background section css */
#background-image {
  position: fixed;
  z-index: -50;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background-color: rgb(0, 0, 0, 0.8);
}

/* form section css */
#form-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#weather-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2em;
  margin-top: 2em;
  backdrop-filter: blur(0.2em);
  background-color: #ffffff31;
  border: 2px white solid;
  border-bottom: 0;
  border-left: 0;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  max-width: 20em;
  min-width: 20em;
}

#weather-form:hover {
  transform: scale(1.05);
}

#heading {
  text-align: center;
  padding-bottom: 2em;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: bold;
}

#field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border: none;
  outline: none;
  color: white;
}

#weather-input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #000000;
  font-weight: bold;
  padding: 0.6em;
  background-color: #ffffff8c;
  box-shadow: inset 2px 5px 10px rgb(184, 184, 184);
  border-radius: 0 15px;
}

/* weather detail */
#weather-detail {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3em;
  padding: 2em;
  backdrop-filter: blur(0.2em);
  background-color: #ffffff31;
  border: 2px white solid;
  border-bottom: 0;
  border-left: 0;
  border-radius: 25px;
  max-width: 20em;
  min-width: 20em;
  font-weight: bold;
}

.weather-detail-bolds {
  font-size: 1.5em;
}

.weather-detail-normals {
  font-size: 1em;
}

#weather-detail.hidden {
  display: none;
}

.weather-detail-bolds {
  font-weight: bold;
}

.weather-detail-normals {
  font-weight: normal;
}

#weather-detail.loading h2 {
  color: #666;
  font-style: italic;
}