* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

/* form section css */
#form-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, #0b0e2b, #420017);
}

.glass {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  backdrop-filter: blur(0.2rem);
  background-color: #ffffff31;
  border: 2px rgba(255, 255, 255, 0.362) solid;
  border-radius: 0 2rem 0 2rem;
}

.title-bar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

#weather-form {
  padding: 2rem;
  max-width: 20rem;
  min-width: 20rem;
  transition: 0.4s ease-in-out;
}

#weather-form:hover {
  transform: scale(1.05);
}

#heading {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

#field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border: none;
  outline: none;
  color: white;
}

#field>p {
  font-size: x-small;
  text-align: start;
  font-weight: 100;
  user-select: none;
  align-self: self-start;
}

#weather-input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #000000;
  padding: 0.6em;
  background-color: #ffffff8c;
  box-shadow: inset 2px 5px 10px rgb(184, 184, 184);
  border-radius: 0 15px;
}

/* weather detail */
#weather-detail {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 2rem;
  backdrop-filter: blur(0.5rem);
  border-radius: 0 2rem 0 2rem;
  max-width: 20rem;
  min-width: 20rem;
  font-weight: bold;
}

#weather-detail.loading h2 {
  color: #666;
  font-style: italic;
}

#date-text {
  text-align: center;
  font-weight: bold;
}

#animate {
  position: fixed;
  top: 0rem;
  left: 0rem;
  transition: all;
  transition-timing-function: ease-in-out;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  filter: blur(4rem);
  background-color: wheat;
}